@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform        : translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform        : translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform        : translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform        : translate(-50%, -50%) rotate(360deg);
  }
}

.lds-rolling div,
.lds-rolling div:after {
  display: inline-block;
  width           : 20px;
  height          : 20px;
  border          : 2px solid #1abc9c;
  border-top-color: transparent;
  border-radius   : 50%;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: -24px;
}

.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation        : lds-rolling 1s linear infinite;
}

.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform        : rotate(90deg);
}

.lds-rolling {
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform        : translate(-100px, -100px) scale(1) translate(100px, 100px);
}